/* Basic */
body, input, select, textarea {
	font-size: 13pt;
}

/* Banner */
#banner {
	padding: 12em 0em 10em;
}

#banner h2 {
	font-size: 3.5em;
}

/* Footer */
#footer .icons .rounded {
	font-size: 1em;
}