@charset "UTF-8";

del {
	background: #fadad7;
	color: #b30000;
}

ins {
	background: #eaf2c2;
	color: #406619;
}

del, ins{
	text-decoration: none;
	font-size: large;
}

.chapter > h1, .chapter > h2, .chapter > h3 {
	text-align: center;
}

h3>small{
	font-size: medium;
	font-weight: lighter;
	font-style: oblique;
}


.para {
	text-indent: 15%;
	text-align: justify;
	line-height: 200%;
	font-size: medium;
}

.verse{
	display: inline;
}

.verseNum {
	color: #808080;
	vertical-align: top;
	line-height: 16px;
	font-size: 0.7em;
}

.redLetter {
	color: FireBrick;
	display: inline;
}

.indent {
	margin-left: 4em;
	display:block;
	text-indent: 0em;
}

.outdent {
	display: block;
	text-indent: 0;
}

.poem>p{
	margin:0px;
	text-indent: 0em;
	margin-left: 4em;
}

.poem1>p:nth-child(even),
.poem2>p:nth-child(odd){
	margin-left: 6em;
}

.poem1>p>.verseNum {
	position: absolute;
	margin-left: -4em;
	line-height: inherit;
}

.poem2>p>.verseNum {
	position: absolute;
	margin-left: -7em;
	line-height: inherit;
}

.crossref{
	margin-right: 25px;
	white-space: nowrap;
}

.footnote{
	display:block;
	text-indent: 0px;
}

@media (min-width: 0px) and (max-width: 520px) {
	.indent {
		margin-left: 8%;
	}
	
	.poem>p {
		margin-left: 0em;
	}
	
	.poem1>p:nth-child(even),
	.poem2>p:nth-child(odd){
		margin-left: 2em;
	}
	
	.poem1>p>.verseNum {
		margin-left: -1.5em;
		line-height: 16px;
	}
	
	.poem2>p>.verseNum {
		margin-left: -4.2em;
		line-height: 16px;
	}

	.crossref{
		white-space: normal;
	}

}