@charset "UTF-8";

.chapter h1, h2, h3 {
	text-align: center;
}

.para {
	text-indent: 15%; /* Was previously 2.5em */
	text-align: justify;
}

.verse{
	display: inline;
}

.verseNum {
	color: #808080;
	vertical-align: top;
	line-height: 16px;
	font-size: 0.7em;
}

.redLetter {
	color: FireBrick;
	display: inline;
}

.indent {
	margin-left: 4em; /* 2em; */
	display:block;
	text-indent: 0em;
}

.outdent {
	display: block;
	text-indent: 0;
}

.poem>p{
	margin:0px;
	text-indent: 0em;
	margin-left: 4em;
}

.poem1>p:nth-child(even),
.poem2>p:nth-child(odd){
	margin-left: 6em;
}

.poem1>p>.verseNum {
	position: absolute;
	margin-left: -4em;
	line-height: inherit;
}

.poem2>p>.verseNum {
	position: absolute;
	margin-left: -7em;
	line-height: inherit;
}

.crossref{
	margin-right: 25px;
	white-space: nowrap;
}

.footnote{
	display:block;
	text-indent: 0px;
}

@media (min-width: 0px) and (max-width: 520px) {
	.indent {
		margin-left: 8%;
	}
	
	.poem>p {
		margin-left: 0em;
	}
	
	.poem1>p:nth-child(even),
	.poem2>p:nth-child(odd){
		margin-left: 2em;
	}
	
	.poem1>p>.verseNum {
		margin-left: -1.5em;
		line-height: 16px;
	}
	
	.poem2>p>.verseNum {
		margin-left: -4.2em;
		line-height: 16px;
	}

	.crossref{
		white-space: normal;
	}

}

/* For verse highlight
div.chapterNavBx>a {
	margin: 0 15px 0 10px;
	width: 14px;
	text-align: center;
	display: inline-block;
}

div.chapterNavBx {
	width: 900px;
	margin: 0px auto;
}

span.verse>.poem {
	margin: 0px auto;
	width: 550px;
}

.indent>.verseNum {
	color: red;
	position: absolute;
	margin-left: -3em;
}

.verse:hover span {
	background-color: #EEEEEE;
}

.verse span:hover {
	background-color: #EEEEEE;
}

.verse:hover {
	background-color: #EEEEEE;
}
*/