@CHARSET "ISO-8859-1";

@import url(http://fonts.googleapis.com/css?family=Domine);

body > div > .wrapper{
	font-family: 'Lato', 'Noto Sans Tamil UI', Helvetica, sans-serif;
	font-family: 'Domine', serif;
	font-size: 15pt;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', 'Noto Sans Tamil', Helvetica, sans-serif;
	font-family: 'Domine', serif;
}

h2, h3 {
	text-decoration: underline;
}

.disp{
	font-size: 75px;
	text-decoration: none;
	margin: 0px;
}

.bold-red {
    color: red;
    font-weight: bold;
}

blockquote > h3,
blockquote > h4{
	text-align: center;
	text-decoration: none;
	font-style: normal;
}

header.major p.menu {
    border-top: medium double rgba(144, 144, 144, 0.25);
    border-bottom: medium double rgba(144, 144, 144, 0.25);
    display: block;
    padding: 5px;
}